section {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: clamp(1.9rem, 2vw, 3rem);
  opacity: 0;
  animation: title 1.1s ease 0.3s 1 normal forwards;
}

@keyframes title {
  0% {
    opacity: 0;
    letter-spacing: 8px;
    color: var(--sexto-color);
  }

  100% {
    opacity: 1;
    letter-spacing: 0;
    color: var(--sexto-color);
  }
}

.saint_container{
  max-width: 1600px;
  width: 90%;
  height: 90%;
  background: #2a5b7032;
  box-shadow: rgba(4, 4, 4, 0.2) 0px 7px 29px 0px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  
}
.saint_header{
  display: flex;
  font-weight: 600;
  padding: 15px 20px 10px;
  font-size: 1.2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.circle-btn:hover {
  opacity: 1;
  transform: scale(1.03);
}

.red {
  background-color: rgb(255, 96, 92);
  width: 200px;
}

.imagen_perfil{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-icon{
  color: var(--primer-color);
}

.saint_body {
  color: var(--sexto-color);
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px 50px;
}
.about-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.about-container h1 {
  line-height: 1.4;
}

.about-container .img-frame {
  margin-top: 1rem;
  overflow: hidden;
  width: 350px;
  height: 350px;
  border-radius: 8px;
  box-shadow: #2a5b70 0px 10px 30px 8px,
  #2a5b70 0px 0px 0px 0px;
}

.about-container .img-frame img {
  aspect-ratio: 6/7;
  object-fit: cover;
  transition: transform 1s;
}

.about-container .img-frame:hover img {
  transform: rotate(4deg) scale(1.25);
}

img {
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.day-and-activity {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  border-radius: 14px;
  margin-bottom: 5px;
  color: #484d53;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  margin-top: 1rem;
} 

.activity-one {
  background-color: rgba(201, 202, 206, 0.5);
  background-image: linear-gradient(240deg,#111111d7 0%,#0e0e0ed3 100%);
  /* background-color: rgb(124, 136, 224, 0.5);
  background-image: linear-gradient(240deg,rgb(124, 136, 224) 0%,#c3f4fc 100%); */
}

.activity-two {
  background-color: rgba(201, 202, 206, 0.5);
  background-image: linear-gradient(240deg,#111111d7 0%,#0e0e0ed3 100%);
  /* background-color: #aee2a4a1;
  background-image: linear-gradient(240deg, #e5a243ab 0%, #f7f7aa 90%); */
}

.activity-three {
  background-color: rgba(201, 202, 206, 0.5);
  background-image: linear-gradient(240deg,#111111d7 0%,#0e0e0ed3 100%);
  /* background-color: #ecfcc376;
  background-image: linear-gradient(240deg, #97e7d1 0%, #ecfcc3 100%); */
}

.activity-four {
  background-color: rgba(201, 202, 206, 0.5);
  background-image: linear-gradient(240deg,#111111d7 0%,#0e0e0ed3 100%);
  /* background-color: #e6a7c3b5;
  background-image: linear-gradient(240deg, #fc8ebe 0%, #fce5c3 100%); */
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}


.left-bottom {
  gap: 10px;
  margin-top: 0rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.activity {
  border-left: 3px solid var(--primer-color);
}


.calendar {
  width: 100%;
}

.activity h2 {
  margin-left: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 12px;
  color: var(--primer-color);
}

.day h5 {
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--primer-color);
}

.nav-text {
  color: #ffffff;
  font-size: 1rem;
  padding: 15px 0;
  margin-top: 2rem;
  border-radius: 20px;
}

@media (max-width: 1250px) {
  .activity h2 {
    font-size: 1.1rem;
  }
  
  .day h5 {
    font-size: 1.1rem;
  }
}
@media (max-width: 1000px) {
  .about-container .img-frame {
    width: 280px;
  }
  .activity h2 {
    font-size: 1rem;
  }
  
  .day h5 {
    font-size: 1rem;
  }
}
@media (max-width: 850px) {
  .about-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .about-container .img-frame {
    width: 330px;
    height: 300px;
  }
  .saint_title{
    display: none;
  }
  .red {
    width: 150px;
  }
  .left-bottom {
    margin-top: 0rem;
  }
  .activity h2 {
    font-size: 1.1rem;
  }
  
  .day h5 {
    font-size: 1.1rem;
  }
}

@media (max-width: 750px) {
@keyframes title {
  0% {
    opacity: 0;
    letter-spacing: 2px;
    color: var(--sexto-color);
  }

  100% {
    opacity: 1;
    letter-spacing: 0;
    color: var(--sexto-color);
  }
}
}

@media (max-width: 650px) {
  .imagen_perfil{
    display: none;
  }
  .saint_nombre{
    font-size: 1.8rem;
  }
  .saint_container{
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 530px) {
  .about-container .img-frame {
    width: 250px;
    height: 250px;
  }
  .activity h2 {
    font-size: 1rem;
  }
  .day h5 {
    font-size: 1rem;
  }
  .red {
    width: 100px;
  }
  .left-bottom {
    width: 140%;
  }
  .nav-text{
    display: none;
  }
}

@media (max-width: 450px) {
  .about-container .img-frame {
    width: 200px;
    height: 200px;
  }
  .activity h2 {
    font-size: 1rem;
  }
  .day h5 {
    font-size: 1rem;
  }
  .red {
    width: 60px;
  }
  .saint_nombre{
    font-size: 1.3rem;
  }
  
}

@media (max-width: 400px) {
  .about-container .img-frame {
    width: 160px;
    height: 160px;
  }
  .activity h2 {
    font-size: .7rem;
  }
  .day h5 {
    font-size: .7rem;
  }
  .red {
    width: 50px;
  }
  .saint_nombre{
    font-size: 1.2rem;
  }
  .left-bottom {
    width: 130%;
  }
}
@media (max-width: 360px) {
  .about-container .img-frame {
    width: 140px;
    height: 140px;
  }
  .activity h2 {
    font-size: .7rem;
  }
  .day h5 {
    font-size: .7rem;
  }
  .red {
    width: 50px;
  }
  .saint_nombre{
    font-size: 1.2rem;
  }
  .left-bottom {
    width: 120%;
  }
}

@media (max-width: 340px) {
  @keyframes title {
    0% {
      opacity: 0;
      letter-spacing: .5px;
      color: var(--sexto-color);
    }
  
    100% {
      opacity: 1;
      letter-spacing: 0;
      color: var(--sexto-color);
    }
  }
  }
